/* some basic kbsb styles */

html {
    font-size: 18px;
}

body {
    font-family: 'IBM Plex Sans', sans-serif; /* weights: 300 400 600*/
}

.section {
    padding: 5rem 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* typography */
/* =================================================== */

.paragraph {
    line-height: 150%;
    font-weight: 300;
}

h1, h2, h3, h4 ,h5, h6 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    max-width: 35rem;
    /* rem units scale to the document-root/html element */
}

h1 {
    font-size: 1.5em;
    /* em units scale to the parent element */
}

h2, h3 {
    font-size: 1.25em;
}

a {
    color: lightgrey;
}
